#cards {
  .container {
    margin-top: 5%;
    .info {
      width: 63%;
    }
    .chocie {
      display: flex;
      justify-content: space-between;
      width: 42% !important;

      a {
        text-decoration: none;
        font-size: 15px;
        color: black;
      }
      a:nth-child(1) {
        background-color: rgb(216, 40, 40);
        width: 90px;
        text-align: center;
        color: white;
        height: 30px;
        border-radius: 20px;
        padding-top: 3px;
      }
    }
  }
}
#a-card {
  .container {
    .card-k {
      .card-img{
      
        margin-left: 5% !important;
        width:30%;
        margin-top: 5%;
        img{
            margin-top: 25%;
            width: 90%;
        }
      }

      .info-text {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 3%;
        margin-left: 5%;
        i {
          color: red;
          font-size: 25px;
        }
        .cashback{
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color:black;
            margin-top: 3%;
        }
        .links {
           display: flex;
        }
        .basket{
            margin-top: 8%;
            button{
                height: 8vh;
            }
           .e-link{
            
                text-decoration: none;
                color: black;
                font-size: 20px;
            
           }
        }
      }
    }
  }
}
@media only screen and (max-width:768px) {
    .links div{
        width: 100%;
    }
}
#installment-cards{
    .container{
        margin-top: 10% !important;
        .row{
         
            .header{
                h2{
                    font-size: 35px;
                }
            }
            .img{
                width: 50%;
                img{
                    width: 80%;
                    margin-left: 3%;
                    margin-top: 5%;
                }
            }
            .name{
                font-size:18px ;
                font-family: 'Arial Narrow Bold', sans-serif;
            }
            .button-basket{
                button{
                    width: 120px;
                    height: 40px;
                    border-radius: 10px;
                    transition: 1s;
                    margin-top: 10px;
                    font-size: 15px;
                    color: red;
                }
                button:hover{
                    background-color: red;
                    transition: 1s;
                    color: white;
                }
            }
            .info-1{
                font-size: 15px;
            }
        }
    }
}
@media only screen and (max-width:768px) {
    .button-basket {
        button{
            width: 100%;
        }
    }
}
@media screen and (max-width:800px) {
    #cards{
        .container{
            .info{
                width: 100%;
                h2{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
                .chocie{
                    width: 100%;
                  
                }
            }
        }
    }
}
